<style>
        /*homepage*/     
        
        
        .info{
                margin: 40px
            }
            
            .first{
                color: wheat;
                font-style: oblique;
            } 
            
            #he{
                color: wheat;
                font-style: oblique;
                
            }
            
            
            .paragrapha{
                margin: 40px;
                margin-top: 50px;
                font-style: oblique;
                font-size: 20px
            }
            
            body{ 
                background-color: beige
}
           
            .foo{
                margin: 30px;
                margin-bottom: 0px;
                color: white;
                background-color: black
    
}
        </style>



       

            